---
import Layout from "../layouts/Layout.astro"
import empathy from "../images/Empathy.png"
import empower from "../images/Empowerment.webp"
import experiment from "../images/Experiment.webp"
import excitement from "../images/Excitement.webp"
import vision from "../images/vision-img.png"
import mission from "../images/mission-img.png"
---

<Layout title="About | EI">
	<div class="flex justify-start p-[8vw] bg-[#0005] bg-blend-darken items-end bg-[url('/src/images/about-bg.jpg')] h-[70vh] bg-cover bg-no-repeat md:bg-right mb-5">
		<div class="text-center md:text-start">
			<h1 class="text-4xl md:text-6xl font-semibold text-white leading-10 md:leading-[5rem]">
                Joy through Gratitude!</h1>
			<p class="text-white text-xl md:text-2xl font-thin mt-4 mb-8 sm:mb-4 md:mb-0">Thanks to all our Startup and Enterprise clients for partnering <br class="hidden md:block">us in their digital transformation journey to better human life</p>
		</div> 
	</div>
    <div class="text-center">
        <h2 class="text-2xl py-6 md:text-3xl font-bold text-[#222]">OUR CORPORATE VALUES</h2>
        <div class="grid md:grid-cols-2 max-w-[1200px] mx-auto gap-12 px-12 py-6 md:py-16">
            <div class="flex flex-col items-center justify-center space-y-4">
                <img src={empathy} alt="">
                <p class="text-[#2a61c7] font-semibold text-xl">Empathy</p>
                <div class="text-left">
                    <ul class="space-y-2">
                        <li class="flex items-start space-x-3">
                            <svg class="flex-shrink-0 w-2 h-2 mt-2 text-[#b882fa]" fill="currentColor" viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg"><path d="M256 512A256 256 0 1 0 256 0a256 256 0 1 0 0 512z"/></svg>
                            <span>You listen to the voices of others – Customers, team members, vendors, and all others you interact within the workplace.</span>
                        </li>
                        <li class="flex items-start space-x-3">
                            <svg class="flex-shrink-0 w-2 h-2 mt-2 text-[#b882fa]" fill="currentColor" viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg"><path d="M256 512A256 256 0 1 0 256 0a256 256 0 1 0 0 512z"/></svg>
                            <span>You are genuinely sensitive to other’s cultures and practices to be a global citizen.</span>
                        </li>
                        <li class="flex items-start space-x-3">
                            <svg class="flex-shrink-0 w-2 h-2 mt-2 text-[#b882fa]" fill="currentColor" viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg"><path d="M256 512A256 256 0 1 0 256 0a256 256 0 1 0 0 512z"/></svg>
                            <span>You treat others nicely. You treat others the way you want to be treated.</span>
                        </li>
                        <li class="flex items-start space-x-3">
                            <svg class="flex-shrink-0 w-2 h-2 mt-2 text-[#b882fa]" fill="currentColor" viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg"><path d="M256 512A256 256 0 1 0 256 0a256 256 0 1 0 0 512z"/></svg>
                            <span>You actively practice gratitude.</span>
                        </li>
                        <li class="flex items-start space-x-3">
                            <svg class="flex-shrink-0 w-2 h-2 mt-2 text-[#b882fa]" fill="currentColor" viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg"><path d="M256 512A256 256 0 1 0 256 0a256 256 0 1 0 0 512z"/></svg>
                            <span>You are Humble (Share the Credit / Shoulder the Responsibility).</span>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="flex flex-col items-center justify-center space-y-4">
                <img src={empower} alt="">
                <p class="text-[#2a61c7] font-semibold text-xl">Empowerment</p>
                <div class="text-left">
                    <ul class="space-y-2">
                        <li class="flex items-start space-x-3">
                            <svg class="flex-shrink-0 w-2 h-2 mt-2 text-[#ed9194]" fill="currentColor" viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg"><path d="M256 512A256 256 0 1 0 256 0a256 256 0 1 0 0 512z"/></svg>
                            <span>You are Effective in getting things done.</span>
                        </li>
                        <li class="flex items-start space-x-3">
                            <svg class="flex-shrink-0 w-2 h-2 mt-2 text-[#ed9194]" fill="currentColor" viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg"><path d="M256 512A256 256 0 1 0 256 0a256 256 0 1 0 0 512z"/></svg>
                            <span>You collaborate effectively, spread team spirit, and make your colleagues better.</span>
                        </li>
                        <li class="flex items-start space-x-3">
                            <svg class="flex-shrink-0 w-2 h-2 mt-2 text-[#ed9194]" fill="currentColor" viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg"><path d="M256 512A256 256 0 1 0 256 0a256 256 0 1 0 0 512z"/></svg>
                            <span>You share knowledge, just like good humor.</span>
                        </li>
                        <li class="flex items-start space-x-3">
                            <svg class="flex-shrink-0 w-2 h-2 mt-2 text-[#ed9194]" fill="currentColor" viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg"><path d="M256 512A256 256 0 1 0 256 0a256 256 0 1 0 0 512z"/></svg>
                            <span>You welcome change. You Adapt and Grow.</span>
                        </li>
                        <li class="flex items-start space-x-3">
                            <svg class="flex-shrink-0 w-2 h-2 mt-2 text-[#ed9194]" fill="currentColor" viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg"><path d="M256 512A256 256 0 1 0 256 0a256 256 0 1 0 0 512z"/></svg>
                            <span>You take responsibility and accountability, understand the intent and seek clarity and competence.</span>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="flex flex-col items-center justify-center space-y-4">
                <img src={experiment} alt="">
                <p class="text-[#2a61c7] font-semibold text-xl">Experiment</p>
                <div class="text-left">
                    <ul class="space-y-2">
                        <li class="flex items-start space-x-3">
                            <svg class="flex-shrink-0 w-2 h-2 mt-2 text-[#6dd8fc]" fill="currentColor" viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg"><path d="M256 512A256 256 0 1 0 256 0a256 256 0 1 0 0 512z"/></svg>
                            <span>You are passionately curious about finding better solutions.</span>
                        </li>
                        <li class="flex items-start space-x-3">
                            <svg class="flex-shrink-0 w-2 h-2 mt-2 text-[#6dd8fc]" fill="currentColor" viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg"><path d="M256 512A256 256 0 1 0 256 0a256 256 0 1 0 0 512z"/></svg>
                            <span>You adopt a Growth Mindset.</span>
                        </li>
                        <li class="flex items-start space-x-3">
                            <svg class="flex-shrink-0 w-2 h-2 mt-2 text-[#6dd8fc]" fill="currentColor" viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg"><path d="M256 512A256 256 0 1 0 256 0a256 256 0 1 0 0 512z"/></svg>
                            <span>You learn rapidly and eagerly. (Learn it All rather than know it All)</span>
                        </li>
                        <li class="flex items-start space-x-3">
                            <svg class="flex-shrink-0 w-2 h-2 mt-2 text-[#6dd8fc]" fill="currentColor" viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg"><path d="M256 512A256 256 0 1 0 256 0a256 256 0 1 0 0 512z"/></svg>
                            <span>You Fail Fast. You take smart risks and are open to possible failure.</span>
                        </li>
                        <li class="flex items-start space-x-3">
                            <svg class="flex-shrink-0 w-2 h-2 mt-2 text-[#6dd8fc]" fill="currentColor" viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg"><path d="M256 512A256 256 0 1 0 256 0a256 256 0 1 0 0 512z"/></svg>
                            <span>You question the status quo, challenge prevailing assumptions and suggest better approaches.</span>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="flex flex-col items-center justify-center space-y-4">
                <img src={excitement} alt="">
                <p class="text-[#2a61c7] font-semibold text-xl">Excitement</p>
                <div class="text-left">
                    <ul class="space-y-2">
                        <li class="flex items-start space-x-3">
                            <svg class="flex-shrink-0 w-2 h-2 mt-2 text-[#f2bb6f]" fill="currentColor" viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg"><path d="M256 512A256 256 0 1 0 256 0a256 256 0 1 0 0 512z"/></svg>
                            <span>You are excited to work with a high-performance team.</span>
                        </li>
                        <li class="flex items-start space-x-3">
                            <svg class="flex-shrink-0 w-2 h-2 mt-2 text-[#f2bb6f]" fill="currentColor" viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg"><path d="M256 512A256 256 0 1 0 256 0a256 256 0 1 0 0 512z"/></svg>
                            <span>You are excited to try new things every day.</span>
                        </li>
                        <li class="flex items-start space-x-3">
                            <svg class="flex-shrink-0 w-2 h-2 mt-2 text-[#f2bb6f]" fill="currentColor" viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg"><path d="M256 512A256 256 0 1 0 256 0a256 256 0 1 0 0 512z"/></svg>
                            <span>You are excited to grab challenging opportunities and excel in them</span>
                        </li>
                        <li class="flex items-start space-x-3">
                            <svg class="flex-shrink-0 w-2 h-2 mt-2 text-[#f2bb6f]" fill="currentColor" viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg"><path d="M256 512A256 256 0 1 0 256 0a256 256 0 1 0 0 512z"/></svg>
                            <span>You are excited about the success of customers.</span>
                        </li>
                        <li class="flex items-start space-x-3">
                            <svg class="flex-shrink-0 w-2 h-2 mt-2 text-[#f2bb6f]" fill="currentColor" viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg"><path d="M256 512A256 256 0 1 0 256 0a256 256 0 1 0 0 512z"/></svg>
                            <span>You are excited to continously learn, build and make an impact. (Joy of creation)</span>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
    </div>

    <div >
        <div class="text-center bg-[#f2f2f2] pt-4">
            <h2 class="text-2xl py-6 md:text-3xl font-bold text-[#222]">OUR MISSION & VISION</h2>
            <div class="max-w-[1200px] mx-auto gap-12 px-8 grid md:grid-cols-2 place-items-center items-center justify-center py-6 md:py-16">
                <img src={vision} alt="">
                <img src={mission} alt="">
            </div>
        </div>
    </div>
</Layout>