---
import Layout from "../layouts/Layout.astro";
import js from "../images/javascript.webp"
import php from "../images/php.webp"
import python from "../images/python.webp"
import java from "../images/java.webp"
import net from "../images/net.webp"
import android from "../images/andriod.webp"
import ios from "../images/ios.png"
import xamarin from "../images/andriod (1).webp"
import react from "../images/react.png"
import flutter from "../images/MicrosoftTeams-image-27.png"
import ionic from "../images/ionic.png"
import node from "../images/nodejs.webp"
import angular from "../images/angular.webp"
import reactjs from "../images/reactstack.webp"
import vue from "../images/vue.webp"
import electron from "../images/electron.webp"
import MPipe from "../images/Google-Mediapipe-136x90.png"
import openai from "../images/Open-AI-136x90.png"
import jenkins from "../images/jenkins-136x90.webp"
import nvidia from "../images/Nvidia-TensorRT-136x90.png"
import tensor from "../images/tensor.png"
import aws from "../images/AWS-Fargate.png"
import power from "../images/power.png"
import ssr from "../images/ssrs.png"
import oracle from "../images/oracle-1.png"
import d3 from "../images/d365.png"
import odoo from "../images/odoo.png"
import micro from "../images/microservice.png"
import selenium from "../images/selenium.png"
import appium from "../images/Appium.png"
import azure from "../images/azure.png"
import cn from "../images/cloudnative.png"
import awsc from "../images/aws.png"
import jenk from "../images/jenkins.png"
import docker from "../images/docker.png"
import git from "../images/github.png"

---

<Layout title="Tech | EI">
    <div class="flex justify-start p-[8vw] bg-[#0005] md:bg-[#060606] bg-blend-darken md:bg-blend-lighten items-end bg-[url('/src/images/tech-bg.jpg')] h-[60vh] bg-cover md:bg-contain bg-no-repeat md:bg-right pb-16 bg-center sm:bg-right">
        <div class="text-center sm:text-start">
            <h1 class="text-3xl sm:text-5xl	font-semibold text-white leading-10 md:leading-[4rem]">Technology for Transformation.</h1>
            <p class="text-white text-xl sm:text-2xl font-thin mt-4 mb-8 sm:mb-4 md:mb-0">Frameworks and platforms to drive changes for human ease of living.</p>
        </div>
    </div>
    <div class="bg-[#333] text-white md:space-y-4">
        <div class="px-12 py-16">
            <h4 class="text-3xl font-bold text-center mb-8 md:mb-20 underline decoration-[#eca546] underline-offset-4">Web Application</h4>
            <div class="grid sm:grid-cols-5 text-center place-items-center gap-4 space-y-2 md:space-y-0">
                <div>
                    <img src={js} alt="">
                    <p class="text-lg font-semibold mt-1 sm:mt-8">JavaScript</p>
                </div>
                <div>
                    <img src={php} alt="">
                    <p class="text-lg font-semibold mt-1 sm:mt-8">PHP</p>
                </div>
                <div>
                    <img src={python} alt="">
                    <p class="text-lg font-semibold mt-1 sm:mt-8">Python</p>
                </div>
                <div>
                    <img src={java} alt="">
                    <p class="text-lg font-semibold mt-1 sm:mt-8">Java</p>
                </div>
                <div>
                    <img src={net} alt="">
                    <p class="text-lg font-semibold mt-1 sm:mt-8">.NET</p>
                </div>
            </div>
        </div>
        <div class="px-12 py-16">
            <h4 class="text-3xl font-bold text-center mb-8 md:mb-20 underline decoration-[#eca546] underline-offset-4">Mobile Application</h4>
            <div class="grid sm:grid-cols-6 text-center place-items-center gap-4 space-y-2 md:space-y-0">
                <div>
                    <img src={android} alt="">
                    <p class="text-lg font-semibold mt-1 sm:mt-8">Android</p>
                </div>
                <div>
                    <img src={ios} alt="">
                    <p class="text-lg font-semibold mt-1 sm:mt-8">iOS</p>
                </div>
                <div>
                    <img src={xamarin} alt="">
                    <p class="text-lg font-semibold mt-1 sm:mt-8">Xamarin</p>
                </div>
                <div>
                    <img src={react} alt="">
                    <p class="text-lg font-semibold mt-1 sm:mt-8">React Native</p>
                </div>
                <div>
                    <img src={flutter} alt="">
                    <p class="text-lg font-semibold mt-1 sm:mt-8">Flutter</p>
                </div>
                <div>
                    <img src={ionic} alt="">
                    <p class="text-lg font-semibold mt-1 sm:mt-8">Ionic</p>
                </div>
            </div>
        </div>
        <div class="px-12 py-16">
            <h4 class="text-3xl font-bold text-center mb-8 md:mb-20 underline decoration-[#eca546] underline-offset-4">Fullstack Application</h4>
            <div class="grid sm:grid-cols-5 text-center place-items-center gap-4 space-y-2 md:space-y-0">
                <div>
                    <img src={node} alt="">
                    <p class="text-lg font-semibold mt-1 sm:mt-8">Android</p>
                </div>
                <div>
                    <img src={angular} alt="">
                    <p class="text-lg font-semibold mt-1 sm:mt-8">iOS</p>
                </div>
                <div>
                    <img src={reactjs} alt="">
                    <p class="text-lg font-semibold mt-1 sm:mt-8">Xamarin</p>
                </div>
                <div>
                    <img src={vue} alt="">
                    <p class="text-lg font-semibold mt-1 sm:mt-8">React Native</p>
                </div>
                <div>
                    <img src={electron} alt="">
                    <p class="text-lg font-semibold mt-1 sm:mt-8">Flutter</p>
                </div>
            </div>
        </div>
        <div class="px-12 py-16">
            <h4 class="text-3xl font-bold text-center mb-8 md:mb-20 underline decoration-[#eca546] underline-offset-4">AI & ML</h4>
            <div class="grid sm:grid-cols-6 text-center place-items-center gap-4 space-y-2 md:space-y-0">
                <div>
                    <img src={MPipe} alt="">
                    <p class="text-lg font-semibold mt-1 sm:mt-8">Google MediaPipe</p>
                </div>
                <div>
                    <img src={openai} alt="">
                    <p class="text-lg font-semibold mt-1 sm:mt-8">OpenAI</p>
                </div>
                <div>
                    <img src={jenkins} alt="">
                    <p class="text-lg font-semibold mt-1 sm:mt-8">Jenkins</p>
                </div>
                <div>
                    <img src={nvidia} alt="">
                    <p class="text-lg font-semibold mt-1 sm:mt-8">Nvidia TensofRT</p>
                </div>
                <div>
                    <img src={tensor} alt="">
                    <p class="text-lg font-semibold mt-1 sm:mt-8">TensorFlow</p>
                </div>
                <div>
                    <img src={aws} alt="">
                    <p class="text-lg font-semibold mt-1 sm:mt-8">AWS Fargate</p>
                </div>
            </div>
        </div>
        <div class="px-12 py-16">
            <h4 class="text-3xl font-bold text-center mb-8 md:mb-20 underline decoration-[#eca546] underline-offset-4">Business Intelligence</h4>
            <div class="grid sm:grid-cols-2 text-center place-items-center gap-4 space-y-2 md:space-y-0">
                <div>
                    <img src={power} alt="">
                    <p class="text-lg font-semibold mt-1 sm:mt-8">Power BI</p>
                </div>
                <div>
                    <img src={ssr} alt="">
                    <p class="text-lg font-semibold mt-1 sm:mt-8">SSRS/SSAS/SSIS</p>
                </div>
            </div>
        </div>
        <div class="px-12 py-16">
            <h4 class="text-3xl font-bold text-center mb-8 md:mb-20 underline decoration-[#eca546] underline-offset-4">Enterprise Implimentation</h4>
            <div class="grid sm:grid-cols-4 text-center place-items-center gap-4 space-y-2 md:space-y-0">
                <div>
                    <img src={oracle} alt="">
                    <p class="text-lg font-semibold mt-1 sm:mt-8">Oracle EBS</p>
                </div>
                <div>
                    <img src={d3} alt="">
                    <p class="text-lg font-semibold mt-1 sm:mt-8">D365</p>
                </div>
                <div>
                    <img src={odoo} alt="">
                    <p class="text-lg font-semibold mt-1 sm:mt-8">Odoo</p>
                </div>
                <div>
                    <img src={micro} alt="">
                    <p class="text-lg font-semibold mt-1 sm:mt-8">Microservices</p>
                </div>
            </div>
        </div>
        <div class="px-12 py-16">
            <h4 class="text-3xl font-bold text-center mb-8 md:mb-20 underline decoration-[#eca546] underline-offset-4">Testing Frameworks</h4>
            <div class="grid sm:grid-cols-2 text-center place-items-center gap-4 space-y-2 md:space-y-0">
                <div>
                    <img src={selenium} alt="">
                    <p class="text-lg font-semibold mt-1 sm:mt-8">Selenium Web Driver</p>
                </div>
                <div>
                    <img src={appium} alt="">
                    <p class="text-lg font-semibold mt-1 sm:mt-8">Appium</p>
                </div>
            </div>
        </div>
        <div class="px-12 py-16">
            <h4 class="text-3xl font-bold text-center mb-8 md:mb-20 underline decoration-[#eca546] underline-offset-4">Cloud & DevOps</h4>
            <div class="grid sm:grid-cols-6 text-center place-items-center gap-4 space-y-2 md:space-y-0">
                <div>
                    <img src={azure} alt="">
                    <p class="text-lg font-semibold mt-1 sm:mt-8">Azure</p>
                </div>
                <div>
                    <img src={cn} alt="">
                    <p class="text-lg font-semibold mt-1 sm:mt-8">Cloud Native</p>
                </div>
                <div>
                    <img src={awsc} alt="">
                    <p class="text-lg font-semibold mt-1 sm:mt-8">AWS</p>
                </div>
                <div>
                    <img src={jenk} alt="">
                    <p class="text-lg font-semibold mt-1 sm:mt-8">Jenkins</p>
                </div>
                <div>
                    <img src={docker} alt="">
                    <p class="text-lg font-semibold mt-1 sm:mt-8">Docker</p>
                </div>
                <div>
                    <img src={git} alt="">
                    <p class="text-lg font-semibold mt-1 sm:mt-8">Github</p>
                </div>
            </div>
        </div>
    </div>
</Layout>